/*页面加载延迟效果*/
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
body{
	height: 1200px;
}
.msgbackground{
	width: 100%;
	height: 400px;
	background: url(../img/way.jpg) no-repeat center center;
	padding-top: 60px;
}
.msgs{
	width: 65%;
	height: 520px;
	position: absolute;
	left: 100px;
	top: 480px;
	opacity: 0.8;
	border-radius: 5px;
	overflow: auto;
}
.msgs .ant-list-item{
		height: 90px;
		margin-top:12px;
		background:white;
}
.msgs .ant-list-item p{
	padding-left: 10px;
	color: mediumseagreen;
}
.msgs .ant-list-item h3{
	padding-left: 20px;
	font-weight: 300;
	font-family: "microsoft yahei";
}

.ant-tag-has-color{
	width: 876px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 19px;
	font-weight: 300;
	position: absolute;
	left: 100px;
	top: 430px;
}
.ant-pagination{
	position: absolute;
	left: 380px;
	top: 1020px;
}
